<% title "Stops" %>

<table>
  <tr>
    <th>Stop Name</th>
    <th>Stop Long</th>
    <th>Stop Lat</th>
  </tr>
  <% counter = 0 %>
  <% for stop in @stops %>
    <tr>
	  <td><%= counter %>.<% counter = counter+1 %></td>
	  <td><%= stop.bus_stop_id %></td>
      <td><%= stop.stop_name %></td>
      <td><%= stop.stop_long %></td>
      <td><%= stop.stop_lat %></td>
      <td><%= link_to "Show", stop %></td>
      <td><%= link_to "Edit", edit_stop_path(stop) %></td>
      <td><%= link_to "Destroy", stop, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Stop", new_stop_path(stop) %></p>
